* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

body {
  background: #121725;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
  margin-top: 5rem;
}

#email-showcase {
  background-image: url("./img/desktop/image-host.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;
  height: 100vh;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.email-showcase-content-container {
  background: #121725;
  width: 723px;
  height: 509px;
  transform: translateY(8.5rem);
  position: relative;
}

.email-showcase-content {
  padding-top: 4rem;
}

.email-showcase-content h1 {
  font-size: 52px;
  font-weight: 300;
  color: #54e6af;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.white-text {
  color: #fff;
}

.email-showcase-content p {
  font-size: 18px;
  font-weight: 300;
  color: #c2cbe5;
  line-height: 28px;
  width: 62%;
  margin-bottom: 2rem;
}

form {
  position: relative;
}

.mobile-company-logos-container {
  display: none;
}

input {
  width: 427px;
  height: 56px;
  background: #2c344b;
  border: none;
  border-radius: 28px;
  padding-left: 1rem;
  color: #fff;
}

input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

p.error-msg {
  margin: 0.5rem 0rem 0.5rem 2.4rem;
  color: #fb3e3e;
  font-weight: 700;
  font-size: 12px;
  display: none;
}

p.error-msg.show {
  display: block;
}

button {
  width: 162px;
  height: 46px;
  background: #54e6af;
  color: #121725;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
  position: absolute;
  left: 36%;
  top: 8%;
  transition: background 0.2s ease-in-out;
}

button:hover {
  background: #b3ffe2;
}

.company-logos-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.pr-2 {
  padding-right: 2rem;
}

.showcase-dots img {
  position: absolute;
  bottom: -11%;
  right: -75%;
  z-index: 2;
}

p.success-msg {
  color: #54e6af;
  margin: 0.5rem 0rem 0.5rem 2.4rem;
  font-size: 12px;
  font-weight: 700;
  display: none;
}

p.success-msg.show {
  display: block;
}

/* 




Tablet View




*/
@media only screen and (max-width: 1024px) {
  body {
    background-image: url("./img/tablet/image-host.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
    width: 100%;
  }

  .email-showcase-content-container {
    background: #121725;
    width: 800px;
    height: 509px;
    transform: translateY(8.5rem);
    position: relative;
  }

  #email-showcase {
    background-image: none;
  }

  .showcase-dots img {
    position: absolute;
    bottom: -33%;
    right: 73%;
    z-index: 2;
  }
}

/* 





Smartphone Portrait




*/

@media only screen and (max-width: 767px) {
  body {
    background: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)),
      url(./img/mobile/image-host.jpg) no-repeat center center/cover;
  }

  header {
    text-align: center;
  }

  .email-showcase-content-container {
    width: 100%;
    height: 100vh;
    transform: translateY(0rem);
    text-align: center;
    background: none;
  }

  #email-showcase {
    background-image: none;
  }

  .showcase-dots img {
    display: none;
  }

  .email-showcase-content h1 {
    font-size: 26px;
    line-height: 38px;
  }

  .email-showcase-content p {
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;
    height: 46px;
  }

  button {
    width: 100%;
    height: 46px;
    position: static;
    margin-top: 1rem;
  }

  .company-logos-container {
    display: none;
  }

  .mobile-company-logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .mobile-company-logo img {
    width: 85px;
  }

  p.error-msg {
    margin: 0.5rem 0rem 0.5rem 0rem;
  }

  p.success-msg {
    margin: 0.5rem 0rem 0.5rem 0rem;
  }
}

@media only screen and (max-width: 320px) {
  .mobile-company-logo img {
    width: 75px;
  }

  p.error-msg {
    margin: 0.5rem 0rem 0.5rem 0rem;
  }
  p.success-msg {
    margin: 0.5rem 0rem 0.5rem 0rem;
  }
}
